[submodule "submodules/arew"]
	path = submodules/arew
	url = https://git.sr.ht/~amz3/chez-scheme-arew
[submodule "submodules/srfi-167"]
	path = submodules/srfi-167
	url = https://github.com/scheme-requests-for-implementation/srfi-167
[submodule "submodules/srfi-168"]
	path = submodules/srfi-168
	url = https://github.com/scheme-requests-for-implementation/srfi-168
[submodule "submodules/wiredtiger"]
	path = submodules/wiredtiger
	url = https://github.com/wiredtiger/wiredtiger
[submodule "submodules/srfi-173"]
	path = submodules/srfi-173
	url = https://github.com/scheme-requests-for-implementation/srfi-173
[submodule "submodules/easy-conceptnet"]
	path = submodules/easy-conceptnet
	url = https://github.com/amirouche/easy-conceptnet/
[submodule "submodules/chez-exe"]
	path = submodules/chez-exe
	url = https://github.com/gwatt/chez-exe/
